{% extends 'base.html' %}
{% load static %}
{% block body %}

<div dir="rtl">
    {% include 'search.html' %}
<div class="job_details_area">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="job_details_header">
                <div class="single_jobs white-bg d-flex justify-content-between">
                    <div class="jobs_left d-flex align-items-center">
                        <div >
                           {% if doctors_detail.image %}

                                <img class="img-circle" src="{{doctors_detail.image.url}}" alt="" width="100" height="100">

                            {% else %}
                               mg class="img-circle" src="{% static 'static_file/img/candiateds/1.png' %}" alt="" width="100" height="100">
                            {% endif %}

                        </div>
                        <div class="jobs_conetent">
                            <a href="#" ><h4>دكتور {{doctors_detail.name}}</h4></a>
                            <div class="links_locat d-flex align-items-center">
                                <div class="location">
                                    <p> <i class="fa fa-map-marker"></i> فلسطين / {{ doctors_detail.address }}  </p>
                                </div>
                                <div class="location">
                                    <p> <i class="fa fa-clock-o"></i>  وقت الانتظار  دقيقه  {{doctors_detail.waiting_time  }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="jobs_right">
                        <div class="apply_now">
                            <a class="boxed-btn3" href="">حجز كشف</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="descript_wrap white-bg">
                <div class="single_wrapp">
                    <h3>نبذه عن الدكتور</h3>
                    <p>{{ doctors_detail.subtitle }}</p>
                </div>
                <div class="white-card white-card-inner">
                    <div class="single_wrap" style="margin-top: 10px;">
                        <h4>معلومات عن الدكتور</h4>
                        <ul>
                            <h3>وصف الدكتور</h3>
                            <p>{{ doctors_detail.bio }}</p>
                        </ul>
                    </div>
                </div>
                <div class="single_wrap">
                    <h4>خدمات الدكتور :</h4>
                    <ul>
                        <p class="tagitem disable-click pull-left mr-4" style="background-color: #f5f5f5;
                        color: #808184;"> استشاري جراحه وتجميل الاسنان
                        </p>
                        <p class="tagitem disable-click pull-left" style="background-color: #f5f5f5;
                        color: #808184;">استشاري جراحه وتجميل الاسنان
                        </p>
                    </ul>
                    <br>
                </div>
                <div class="single_wrap">
                    <h4>صور العيادة :</h4>
                            <img class="image_clinic" src="img/candiateds/2.png" alt="" >
                            <img class="image_clinic" src="img/candiateds/2.png" alt="" >
                            <img class="image_clinic" src="img/candiateds/2.png" alt="" >



                </div>
            </div>

    <!-- comments -->
    <div class="section-row">
        <div class="section-title">
            <h2 style="color: brown;">التعليقات (  )</h2>
        </div>

        <div class="post-comments" >

            <!-- comment -->
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="img/avatar.png" alt="">
                </div>
                <div class="media-body " >
                    <div class="media-heading">
                        <h4>اسم الكاتب</h4>
                        <span class="time">تم التعليق في </span>
                    </div>
                    <p>الكومنتات</p>
                    <a href="#" class="reply">الردود ..</a>

                    <!-- comment -->
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="" alt="">
                        </div>
                        <div class="media-body">
                            <div class="media-heading">
                                <h4>خال وليد أبو ندى</h4>
                                <span class="time">تم التعليق فى </span>
                            </div>
                            <p>شكرا جدا واتمنى ان تتصفح باقي المواضيع .....</p>
                        </div>
                    </div>
                    <!-- /comment -->
                </div>
            </div>
            <!-- /comment -->

            <div class="media-heading">
                <h4>لا يوجد تعليقات حتى الأن ..</h4>
            </div>

        </div>
    </div>
    <!-- /comments -->
    <div class="apply_job_form white-bg">
        <h4>إترك تعليقك</h4>
        <form method="POST" >

            <div class="row">
                <div class="col-md-6">
                    <div class="input_field">
                        <input type="text"  placeholder=" الإسم">

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input_field">
                        <input type="text"  placeholder=" الإيميل">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input_field">
                        <textarea  cols="30" rows="10" placeholder="تعليقك .."></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="submit_btn">
                        <button class="boxed-btn3 w-100" type="submit">تعليق</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
        </div>
        <div class="col-lg-4">
            <div class="job_sumary">
                <div class="summery_header">
                    <h3>معلومات عن الدكتور </h3>
                </div>
                <div class="job_content">
                    <ul>
                        <li>  انضم إلينا : <span style="color: blue;"></span></li>
                        <li> الكشف :  <span style="color: blue;">  {{ doctors_detail.price }} دورلار </span></li>
                        <li>  رقم الهاتف  :  <span style="color: blue;"> {{ doctors_detail.number_phone }}</span></li>
                        <li>  عدد ساعات العمل :  <span style="color: blue;"> {{ doctors_detail.working_hours }}ساعات </span></li>
                    </ul>

                </div>
            </div>
            <div class="share_wrap d-flex">
                <span>شارك الصفحه :</span>
                <ul>
                    <li><a href="{{ doctors_detail.facebook }}"> <i class="fa fa-facebook"></i></a> </li>
                    <li><a href="{{ doctors_detail.google }}"> <i class="fa fa-google-plus"></i></a> </li>
                    <li><a href="{{ doctors_detail.twitter }}"> <i class="fa fa-twitter"></i></a> </li>
                    <li><a href="{{ doctors_detail.gmail }}"> <i class="fa fa-envelope"></i></a> </li>
                </ul>
            </div>
            <div class="job_location_wrap">
                <div class="job_lok_inner">
                    <div id="map" style="height: 200px;"></div>
                    <script>
                        function initMap() {
                        var uluru = {lat: -25.363, lng: 131.044};
                        var grayStyles = [
                            {
                            featureType: "all",
                            stylers: [
                                { saturation: -90 },
                                { lightness: 50 }
                            ]
                            },
                            {elementType: 'labels.text.fill', stylers: [{color: '#ccdee9'}]}
                        ];
                        var map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: -31.197, lng: 150.744},
                            zoom: 9,
                            styles: grayStyles,
                            scrollwheel:  false
                        });
                        }

                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>

                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock body %}
