<!-- Search -->
    <div class="catagory_area ">
<div class="container " style="margin-top: 10rem">
            <div class=" single_text">
                <h2>احجز مع أفضل دكتور في فلسطين</h2>
                <h3>احجز اونلاين او كلم  ١٧٧٥۸</h3>
                <h4>١٦٠٠٠ دكتور -٤٠٠٠ استاذ واستشاري - اكثر من ۲٠ تخصص</h4>
                <br>
            </div>
            <form  method="GET" action="">
            <div class="row cat_search" >

                <div class="col-lg-3 col-md-4">
                    <div class="single_input">
                        <input type="text" placeholder="إسم الدكتور" >
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="single_input">
                        <select class="wide" >
                            <option value="" >الموقع</option>
                            <option value="رفح">رفح</option>
                            <option value="غزة">غزة</option>
                            <option value="خانيونس">خانيونس</option>
                            <option value="القدس">القدس</option>
                            <option value="الخليل">الخليل</option>
                            <option value="4">Sylet</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="single_input">
                        <select class="wide" >
                            <option value="">التخصص</option>
                            <option value="جلدية">جلدية</option>
                            <option value="اسنان">اسنان</option>
                            <option value="نفسي">نفسي</option>
                            <option value="اطفال">اطفال حديثي الولادة</option>
                            <option value="مخ">مخ واعصاب</option>
                            <option value="عظام">عظام</option>
                            <option value="نساء">نساء وتوليد</option>
                            <option value="انف">انف واذن وحنجرة</option>
                            <option value="قلب">قلب واوعية دموية</option>
                            <option value="امراض">امراض دم</option>
                            <option value="اورام">اورام</option>
                            <option value="باطنه">باطنه</option>
                            <option value="تخسيس">تخسيس وتغذية</option>
                            <option value="جاطفال">جراحة اطفال</option>
                            <option value="جاورام">جراحة اورام</option>
                            <option value="جاوعيه">جراحة اوعية دموية</option>
                            <option value="جتجميل">جراحة تجميل</option>
                            <option value="سمنه">جراحه سمنة ومناظير </option>
                            </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="job_btn">
                        <input type="submit" class="boxed-btn3" value="ابحث هنا">
                    </div>
                </div>

            </div>
            </form>
        </div>
    </div>
    <!-- endsearch -->